<div
  class="btn-group btn-group-toggle"
  ngbRadioGroup
  name="radioBasic"
  [(ngModel)]="status"
  (change)="onChange()"
>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" value="" /> All
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" value="NEW" /> New
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" value="DOING" /> Doing
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" value="DONE" /> Done
  </label>
</div>
